body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  color: rgba(66, 66, 66, 0.798);
  caret-color: transparent;
}

header {
  box-sizing: border-box;
  max-width: 99%;
  text-align: start;
  display: FLEX;
  align-items: center;
  padding-left: 15px;
  background-color: lightgray;
  height: 7vh;
  margin-bottom: 12px;
  margin-top: 5px;
}

.liste-bundesländer {
  gap: 15px;

  display: flex;
  flex-wrap: wrap;
}

.bundeslandbox {
  display: block;
  box-sizing: border-box;
  width: calc(33% - 10px);
  border: 10px solid lightgrey;
  padding-inline: 5px;
  text-decoration: none;
}

.population {
  color: lightgrey;
}

.bundeslandbox:hover {
  border: 10px solid gray;
}

.bundesland {
  font-weight: 600;
}

.first-letter {
  display: flex;
  gap: 5px;
}

.buttons {
  width: 30px;
  height: 21px;
  background-color: lightgray;
  margin-block-start: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.url {
  font-size: 9px;
  position: absolute;
  margin-block-start: 73px;
  background-color: lightgray;
  width: auto;
  border-radius: 8px;
}

.d-none {
  display: none;
}

a {
  color: #000000e6;
}

@media (max-width: 800px) {
  .bundeslandbox {
    width: calc(50% - 10px);
  }
}
@media (max-width: 500px) {
  .bundeslandbox {
    width: calc(50% - 10px);
  }
}
